In [12]:
import sys
!{sys.executable} -m pip install hdfs

from os import PathLike
from hdfs import InsecureClient
client = InsecureClient("http://hdfs-nn:9870/", user="anonymous")
from_path ="./Self-Reported_Drinking_Water_Tank_Inspection_Results.csv"
to_path ="/Projeto/Bronze/Self-Reported_Drinking_Water_Tank_Inspection_Results.csv"
client.delete(to_path)
client.upload(to_path, from_path)

Requirement already satisfied: hdfs in /opt/conda/lib/python3.10/site-packages (2.7.0)
Requirement already satisfied: docopt in /opt/conda/lib/python3.10/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (1.16.0)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.10/site-packages (from hdfs) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (3.4)

'/Projeto/Bronze/Self-Reported_Drinking_Water_Tank_Inspection_Results.csv'

In [1]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.8.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType, FloatType
from pyspark.sql.functions import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/Projeto/Silver'

builder = SparkSession \
    .builder \
    .master("local[2]") \
    .appName("Python Spark DataFrames and SQL") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [25]:
hdfs_path = "hdfs://hdfs-nn:9000/Projeto/Bronze/Self-Reported_Drinking_Water_Tank_Inspection_Results.csv"

df_final = spark.read\
    .option("header", "true")\
    .option("delimiter",",")\
    .csv(hdfs_path)

df = df_final.select ("BIN", "BOROUGH", "REPORTING_YEAR", "HOUSE_NUM", "STREET_NAME", "BLOCK", "LOT", "LAB_NAME", "COLIFORM", "ECOLI", "MEET_STANDARDS", "BATCH_DATE", "TANK_NUM", "LATITUDE", "LONGITUDE")

In [26]:
spark.sql(
    """
    SHOW TABLES FROM Projeto
    """
).show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|  projeto|drinking_water_qu...|      false|
|  projeto|   drinkingfountains|      false|
+---------+--------------------+-----------+

In [3]:
hdfs_path = "hdfs://hdfs-nn:9000/Projeto/Bronze/Self-Reported_Drinking_Water_Tank_Inspection_Results.csv"

customSchema = StructType([
    StructField("_BIN", IntegerType(), True),        
    StructField("BOROUGH", StringType(), True),
    StructField("REPORTING_YEAR", IntegerType(), True),
    StructField("HOUSE_NUM", StringType(), True),
    StructField("STREET_NAME", StringType(), True),
    StructField("BLOCK", StringType(), True),
    StructField("LOT", StringType(), True), 
    StructField("LAB_NAME", StringType(), True),
    StructField("COLIFORM", StringType(), True),
    StructField("ECOLI", StringType(), True),
    StructField("MEET_STANDARDS", StringType(), True),
    StructField("BATCH_DATE", StringType(), True),
    StructField("TANK_NUM", IntegerType(), True),
    StructField("LATITUDE", FloatType(), True),
    StructField("LONGITUDE", FloatType(), True),


])

AguaTanques = spark \
            .read\
            .option("delimiter",",")\
            .option("header","true")\
            .schema(customSchema) \
            .csv(hdfs_path)
AguaTanques.show()
AguaTanques.printSchema()

+-------+---------+--------------+---------+--------------------+-----+----+-------------+--------+-----+--------------------+----------+--------+--------+---------+
|   _BIN|  BOROUGH|REPORTING_YEAR|HOUSE_NUM|         STREET_NAME|BLOCK| LOT|     LAB_NAME|COLIFORM|ECOLI|      MEET_STANDARDS|BATCH_DATE|TANK_NUM|LATITUDE|LONGITUDE|
+-------+---------+--------------+---------+--------------------+-----+----+-------------+--------+-----+--------------------+----------+--------+--------+---------+
|1041902|MANHATTAN|         10022|      118|    East 60th Street|01394|0007|WTI3239575893|    2021|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|4442431|   QUEENS|         11432|    82-68|        164th Street|06858|0001|WTI8679117896|    2022|    2|               Nalco|         Y|    null|    null|     null|
|1071989|MANHATTAN|         10022|      345|      EAST 56 STREET|01349|7501|WTI6238013576|    2021|    1|     ISSEKS BROS INC|         Y|    null|    null|     null|
|2097466|    BRONX|         10475|     2049|       BARTOW AVENUE| 5141| 100|WTI4549961683|    2018|    7|Rosenwach Tank Co...|         Y|    null|    null|     null|
|2045910|    BRONX|         10461|     1730|         MULFORD AVE|04161|0001|WTI3703539820|    2021|    1|     ISSEKS BROS INC|         Y|    null|    null|     null|
|1090495|MANHATTAN|         10019|      242|    West 53rd Street|01024|0052|WTI3108622208|    2019|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1028458|MANHATTAN|         10023|       80|   Central Park West|01121|0029|WTI3985758752|    2016|    2|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1015933|MANHATTAN|         10018|        7|    WEST   36 STREET|  838|  36|WTI7813172884|    2017|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1032562|MANHATTAN|         10025|      700|     Columbus Avenue|01225|0029|WTI0964857291|    2020|    1|American  Pipe an...|         Y|    null|    null|     null|
|1018147|MANHATTAN|         10016|      160|      east 27 street|00882|0050|WTI1238410279|    2020|    1|  isseks bros., inc.|         Y|    null|    null|     null|
|1043912|MANHATTAN|         10021|  220-222|      EAST 70 STREET|01424|0034|WTI3540913382|    2021|    1|     ISSEKS BROS INC|         Y|    null|    null|     null|
|1031232|MANHATTAN|         10024|      230|   CENTRAL PARK WEST| 1197|  29|WTI3689710523|    2019|    2|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1028137|MANHATTAN|         10023|        1|        West 64th St|01117|0029|WTI6007279971|    2016|    1|   Isseks Bros. Inc.|         Y|    null|    null|     null|
|1034341|MANHATTAN|         10036|       20|    WEST   47 STREET| 1262|  48|WTI8953703081|    2017|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1028817|MANHATTAN|         10024|        6|    WEST   77 STREET| 1129|  39|WTI8386866152|    2017|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1016994|MANHATTAN|         10016|       38|    East 32nd Street|00861|0049|WTI4215705622|    2021|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1001025|MANHATTAN|         10005|       14|         Wall Street|00046|0009|WTI5465027347|    2015|    4|Rosenwach Tank Co...|         Y|    null|    null|     null|
|2085775|    BRONX|         10463|     3611|HENRY HUDSON PARK...| 5903| 283|WTI5940109084|    2018|    1|Rosenwach Tank Co...|         Y|    null|    null|     null|
|1086440|MANHATTAN|         10029|      333|   East 102nd Street|01674|7501|WTI6884688326|    2018|    1|              Isseks|         Y|    null|    null|     null|
|1037555|MANHATTAN|         10017|      685|        third avenue|01317|0001|WTI4689808907|    2017|    4|American Pipe and...|         Y|    null|    null|     null|
+-------+---------+--------------+---------+--------------------+-----+----+-------------+--------+-----+--------------------+----------+--------+--------+---------+
only showing top 20 rows

root
 |-- _BIN: integer (nullable = true)
 |-- BOROUGH: string (nullable = true)
 |-- REPORTING_YEAR: integer (nullable = true)
 |-- HOUSE_NUM: string (nullable = true)
 |-- STREET_NAME: string (nullable = true)
 |-- BLOCK: string (nullable = true)
 |-- LOT: string (nullable = true)
 |-- LAB_NAME: string (nullable = true)
 |-- COLIFORM: string (nullable = true)
 |-- ECOLI: string (nullable = true)
 |-- MEET_STANDARDS: string (nullable = true)
 |-- BATCH_DATE: string (nullable = true)
 |-- TANK_NUM: integer (nullable = true)
 |-- LATITUDE: float (nullable = true)
 |-- LONGITUDE: float (nullable = true)

In [28]:
replaced_AguaTanques = AguaTanques.withColumn(
    "MEET_STANDARDS",
    when(
        (col("MEET_STANDARDS").isNull()), 
        "Sem informação"
    ).otherwise(col("MEET_STANDARDS")))

In [17]:
replaced_AguaTanques.toPandas()

,_BIN,BOROUGH,REPORTING_YEAR,HOUSE_NUM,STREET_NAME,BLOCK,LOT,LAB_NAME,COLIFORM,ECOLI,MEET_STANDARDS,BATCH_DATE,TANK_NUM,LATITUDE,LONGITUDE
0,1041902.0,MANHATTAN,10022.0,118,East 60th Street,01394,0007,WTI3239575893,2021,1,Rosenwach Tank Co. LLC,Y,NaN,NaN,NaN
1,4442431.0,QUEENS,11432.0,82-68,164th Street,06858,0001,WTI8679117896,2022,2,Nalco,Y,NaN,NaN,NaN
2,1071989.0,MANHATTAN,10022.0,345,EAST 56 STREET,01349,7501,WTI6238013576,2021,1,ISSEKS BROS INC,Y,NaN,NaN,NaN
3,2097466.0,BRONX,10475.0,2049,BARTOW AVENUE,5141,100,WTI4549961683,2018,7,Rosenwach Tank Co. LLC,Y,NaN,NaN,NaN
4,2045910.0,BRONX,10461.0,1730,MULFORD AVE,04161,0001,WTI3703539820,2021,1,ISSEKS BROS INC,Y,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39178,3392969.0,BROOKLYN,11201.0,345,Adams Street,00140,7503,WTI0991844172,2020,1,DCAS,Y,NaN,NaN,NaN
39179,1083600.0,MANHATTAN,10001.0,315,West 25th Street,00749,0024,WTI1664941601,2014,1,Isseks Bros,Y,NaN,NaN,NaN
39180,1087126.0,MANHATTAN,10065.0,1188,York Avenue,01480,0010,WTI5712193546,2020,2,Rosenwach Tank Co. LLC,Y,NaN,NaN,NaN
39181,1086515.0,MANHATTAN,10016.0,462,First Avenue,00962,0100,WTI5929880104,2018,1,Nalco,Y,NaN,NaN,NaN
39182,1063423.0,MANHATTAN,10032.0,50,Haven Ave,02139,0210,WTI5145562512,2021,1,American Pipe and Tank,Y,NaN,NaN,NaN

In [29]:
replaced_AguaTanques2 = replaced_AguaTanques.withColumn(
    "LAB_NAME",
    when(
        (col("LAB_NAME").isNull()), 
        "Sem informação"
    ).otherwise(col("LAB_NAME")))

In [30]:
replaced_AguaTanques3 = replaced_AguaTanques2.withColumn(
    "ECOLI",
    when(
        (col("ECOLI").isNull()), 
        "Sem informação"
    ).otherwise(col("ECOLI")))

In [31]:
replaced_AguaTanques4 = replaced_AguaTanques3.withColumn(
    "COLIFORM",
    when(
        (col("COLIFORM").isNull()), 
        "Sem informação"
    ).otherwise(col("COLIFORM")))

In [47]:
spark.sql(
    
    """
    CREATE EXTERNAL TABLE Projeto.Self_Reported_Drinking_Water_Tank_Inspection_Results (
    _BIN INT,
    HOUSE_NUM VARCHAR(50),
    STREET_NAME VARCHAR(50),
    BLOCK VARCHAR(50),
    LOT VARCHAR(50),
    LAB_NAME VARCHAR(50),
    COLIFORM VARCHAR(1),
    ECOLI VARCHAR(1),
    MEET_STANDARDS VARCHAR(50),
    BATCH_DATE VARCHAR(50),
    TANK_NUM INT,
    LATITUDE FLOAT,
    LONGITUDE FLOAT
    ) 
    USING DELTA
    PARTITIONED BY (
        REPORTING_YEAR INT,
        BOROUGH VARCHAR(50)
    

    )
    LOCATION 'hdfs://hdfs-nn:9000/Projeto/Silver/Projeto.db/Self_Reported_Drinking_Water_Tank_Inspection_Results'
    """
)

DataFrame[]

In [46]:
spark.sql(
    """
    DROP TABLE IF EXISTS Projeto.Self_Reported_Drinking_Water_Tank_Inspection_Results
    """
)

DataFrame[]

In [48]:
replaced_AguaTanques4 \
    .select("_BIN", "HOUSE_NUM", "STREET_NAME", "BLOCK", "LOT", "LAB_NAME", "COLIFORM", "ECOLI", "MEET_STANDARDS", "BATCH_DATE", "TANK_NUM", "LATITUDE", "LONGITUDE", "REPORTING_YEAR", "BOROUGH") \
    .write \
    .mode("overwrite") \
    .partitionBy("BOROUGH", "REPORTING_YEAR") \
    .format("delta") \
    .save("hdfs://hdfs-nn:9000/Projeto/Silver/Projeto.db/Self_Reported_Drinking_Water_Tank_Inspection_Results/deltalake_table/")